*.jpg
*.class
*.ctxt
package.bluej
*.txt
*.png
/compiled/
/DIBCO/
.gitignore
BinarizationAccuracy.java
BinarizationAccuracyTest.java
DatasetPreparer.java
DatasetPreparerTest.java
AccuracyMeasure.java
ImageProperties.java
ImagePropertiesTest.java
Test.java
Bradely.java
BinarizeForServerTest.java
/test/